   /*-----------------------------------------ОБЩИЕ ПЕРЕМЕННЫЕ И ФУНКЦИИ--------------------------*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-sise: 16px;
}

@font-face {
	font-family: OpenSans_Bold, sans-serif;
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: OpenSans_Regular, sans-serif;
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


:root {
--color1: #b59f5b;
--color2: #e1d9bd;
--color3: #9b9b9b;
--color4: #000000;
--color5: #f4f7f6;
--color6: white;
--margin-left-mobile: 15px; /*боковые отступы для мобильной версии*/ 
--margin-right-mobile: 15px; /*боковые отступы для мобильной версии*/ 
--margin-left-tablet: 2.1vw; /*боковые отступы для планшет версии*/ 
--margin-right-tablet: 2.1vw; /*боковые отступы для планшет версии*/ 
--margin-left-desk: 13.8vw; /*боковые отступы для пк версии*/ 
--margin-right-desk: 13.8vw; /*боковые отступы для пк версии*/ 
--margin1: 40px; /*Верхний отступ заголовков title1 с подчеркиванием*/
--margin2: 15px; /*Нижний отступ блока Тренды*/
--margin3: 15px; /*Верхний отступ заголовок Карточка тренды*/
--margin4: 60px; /*Верхний отступ блок Поиск*/
--margin5: 20px; /*Верхний отступ блок Рассылка*/

--margin6:  60px; /*Верхний отступ блок Footer*/

--gap1: 60px; /* Отступ между карточками статей в левой колонке Main*/
--gap2: 15px; /*Отступ между картинкой и содержанием в карточке статьи, левая колонка Main*/
--gap3: 15px; /*Отступ между блоками содержания в карточке статьи, левая колонка Main*/
--gap4: 15px; /*Отступ между Датой и Автор в карточке статьи, Левая колонка Main*/

--gap5: 40px; /* Отступ между эллементами в правой колонке Main*/
--gap6: 20px; /* Отступ между карточками статей в правой колонке Main*/
--gap7: 20px; /*Отступ между картинкой и содержанием в карточке статьи, правая колонка Main*/
--gap8: 10px; /*Отступ между блоками содержания в карточке статьи, правая колонка Main*/

--gap9: 20px; /*Отступ между эллементами блока Рассылка*/
 }
	
.link1:visited, .link1:link, .link1:hover, .link1:focus, .link1:active {
	font-family: OpenSans_Regular ;
	font-style: normal;
	font-size: 0.81rem;
	font-weight: normal;
	color: var(--color6);
   text-transform: uppercase;
	text-decoration: none;
}

.link2:visited, .link2:link, .link2:hover, .link2:focus, .link2:active {
	font-family: OpenSans_Bold ;
	font-style: normal;
	font-size: 0.87rem;
	font-weight: bold;
	color: var(--color1);
   text-transform: uppercase;
	text-decoration: none;
}

.link3:visited, .link3:link, .link3:hover, .link3:focus, .link3:active {
	box-sizing: content-box;
	font-family: OpenSans_Bold ;
	font-weight: bold;
	font-style: normal;
	font-size: 0.87rem;
	color: var(--color4);
	text-transform: uppercase;
	padding: 7px 15px 7px 15px;
	outline : 3px solid var(--color3)	;
	text-decoration: none;
}

.link4:visited, .link4:link, .link4:hover, .link4:focus, .link4:active {
	font-family: OpenSans_Bold ;
	font-weight: bold;
	font-style: normal;
	font-size: 0.87rem;
	color: var(--color4);
}

.shop_highlight {      /*------выделение текста цветом в товарах-----*/
	color: var(--color1);
}

.hidden__price {       /*------Скрытая цена-----*/
	opacity: 0;
}

	.title1 {           /*------Заголовок с подчеркиванием с верхним отступом-----*/
		margin-top: var(--margin1);
		color: black;
		font-family: OpenSans_Bold;
		font-style: normal;
		text-align: center;
		text-transform: uppercase;
	}

	.title1:after {
		content: "";
		display: block;
		margin-top: 12px;
		margin-bottom: 25px;
		width: 65px;
		height: 3px;
		background-color: var(--color1);
		margin-left: auto;
		margin-right: auto;

	}

	.title2 {           /*------Заголовок с подчеркиванием без отступа-----*/
		color: black;
		font-family: OpenSans_Bold;
		font-style: normal;
		font-size: 1rem;
		text-align: center;
		text-transform: uppercase;
	}

	.title2:after {
		content: "";
		display: block;
		margin-top: 12px;
		margin-bottom: 25px;
		width: 65px;
		height: 3px;
		background-color: var(--color1);
		margin-left: auto;
		margin-right: auto;

	}

	.visually-hidden {          /*Функция для скрытия надписей*/
		position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
	}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
                              


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/	

	.header {       /* ----------Задаем хедер------*/
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: black;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		justify-content: center;
		align-items: center;		
		position: relative;
	}

	.header:after {    /* ----------Задаем затемнение фона хедера------*/
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
	}




	.trends	{           /*------ТРЕНДЫ контейнер-----*/
		flex-basis: 100%;
	}

	.trend__card__content {  /*------ТРЕНДЫ контейнер карточки-----*/
		width: 100%;
		margin-left: var(--margin-left-mobile);
		margin-right: var(--margin-right-mobile);
		margin-bottom: var(--margin3);
		padding: 20px 30px 20px 30px;
		border: 3px solid var(--color1);
		z-index: 2;
	}

	.trend__card__title {   /*------ТРЕНДЫ заголовок карточки-----*/
		margin-top: var(--margin3);
		font-family: OpenSans_Bold ;
		font-style: normal;
		color: white;
		text-transform: uppercase;
		text-align: left;

	}

	.trend__card__link, .article__left__link { /*------ТРЕНДЫ, СТАТЬИ блок ссылки-----*/
		display: flex;
		gap: 20px;

	}

	.trend__card1 {       /*------ТРЕНДЫ, карточка 1-----*/
		display: flex;
		flex-basis: 100%;
		min-height: 348px;
		background-image: url('../images/trend1.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		align-items: flex-end;
	}

	.trend__card1:after {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		z-index: 1;
	}

	.trend__card2 {     /*------ТРЕНДЫ, карточка 2-----*/
		display: flex;
		flex-basis: 100%;
		min-height: 348px;
		background-image: url('../images/trend2.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		align-items: flex-end;
	}

	.trend__card2:after {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		z-index: 1;
	}

	.trend__card3 {       /*------ТРЕНДЫ, карточка 3-----*/
		display: flex;
		flex-basis: 100%;
		min-height: 348px;
		background-image: url('../images/trend3.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		align-items: flex-end;
	}

	.trend__card3:after {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		z-index: 1;
	}


	.trend__card4 {   /*------ТРЕНДЫ, карточка 4-----*/
		display: flex;
		flex-basis: 100%;
		min-height: 348px;
		background-image: url('../images/trend4.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		align-items: flex-end;
	}

	.trend__card4:after {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		z-index: 1;
	}                                                 /*------ТРЕНДЫ ЗАКРЫТИЕ-----*/
	/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


											/*------БЛОК MAIN ОТКРЫТИЕ --> ЛЕВАЯ КОЛОНКА-----*/


	.main__left {               /*------ЛЕВЫЙ БЛОК контейнер -----*/
		display: flex;
		flex-direction: column;
		gap: var(--gap1);
	}

	.article__left { /*-----Задаем расположение контента карточки article_left в столбец-----*/
		display: flex;
		flex-direction: column;
		gap:  var(--gap2);
	}

	.article__left__img {     /*------ЛЕВЫЙ БЛОК -->Статья-->свойства изображения -----*/
		width: 100%;
		height: auto;
	}

	.article__left__content { /*------Статья-->контейнер контента карточки -----*/
		display: flex;
		flex-direction: column;
		gap: var(--gap3);
	}

	.article__left__title {  /*------Статья-->Заголовок карточки -----*/
		font-family: OpenSans_Bold ;
		font-style: normal;
		color: black;
		text-transform: uppercase;
		text-align: left;
}

	.article__left__data {   /*------Статья-->Контейнер для даты и автора -----*/
		display: flex;
		gap: var(--gap4);
		align-items: flex-start;
	}									

.left__data {               /*------Статья-->Дата-----*/
	font-family: OpenSans_Regular ;
	font-style: normal;
	font-size: 0.75rem;
	font-color: var(--color3)
	text-transform: uppercase;
}

.left__authtor {           /*------Статья-->Автор-----*/
	font-family: OpenSans_Bold ;
	font-weight: bold;
	font-style: normal;
	font-size: 0.87rem;
	font-color: var(--color4);

}

.article__left__text {      /*------Статья-->Текст статьи-----*/
	font-family: OpenSans_Regular ;
	font-style: normal;
	font-size: 0.93rem;
	font-color: var(--color4);
}

			/*------ЛЕВЫЙ БЛОК ЗАКРЫТИЕ-----*/

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	.main__right { /*------ПРАВЫЙ БЛОК контейнер ----*/
		display: flex;
		flex-direction: column;
		gap:  var(--gap5);
	}

	.articles__right { /*-----ПРАВЫЙ БЛОК с новостями-----*/
		display: flex;
		flex-direction: column;
		gap: var(--gap6);

	}

	.article__right { /*-----КОНТЕЙНЕР новость-----*/
		flex-basis: 100%;
		display: flex;
		gap: var(--gap7);
	}

	.article_right_img { /*-----НОВОСТЬ --> Изображение -----*/
		width: 70px;
		height: auto;
	}

	.article_right_content { /*-----НОВОСТЬ --> Контейнер с контентом -----*/
		display: flex;
		flex-direction: column;
		gap: var(--gap8);
		align-items: flex-start;
		justify-content: left;
	}

	.article__right__data {   /*-----НОВОСТЬ --> Дата -----*/
		color:  var(--color3);
		font-size: 0.75rem;
	}

	.article__right__title {  /*-----НОВОСТЬ --> Заголовок -----*/
		font-family: OpenSans_Bold ;
		font-weight: bold;
		font-style: normal;
		font-size: 0.875rem;
		text-transform: uppercase;
	}

	.search__form {              /* ////////////////ФОРМА ПОИСКА///////////////////  */
		width: 100%;
		margin-top: var(--margin4);
		display: flex;
	}

	.sumbit_search {   /*-----Кнопка поиска -----*/
		width: 48px;
		height: 48px;
		background-color: var(--color1) ;
		background-image: url('../images/svg/search.svg');
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center;	
		border: none;
	}

	.sumbit_search:hover {
		cursor: pointer;
	}

	.input__search {     /*-----Поле поиска -----*/
		flex: auto;
		height: 48px;
		background-color: var(--color5);
		padding: 15px;
		border: none;
		font-family: open-sans;
		font-size: 0.812rem;
      color: var(--color3);
	}

	.mailing {           /* ////////////////ФОРМА РАССЫЛКИ///////////////////  */
		display: flex;
		flex-direction: column;
	}

	.mailing__box {     /*-----Котейнер рассылки -----*/
		margin-top: var(--margin5);
		display: flex;
		flex-direction: column;
		gap: var(--gap9);
	}

	.email_field {    /*-----Поле рассылки -----*/
		width: 100%;
		height: 48px;
		background-color: var(--color5);
		padding: 15px;
		border: none;
		font-family: open-sans;
		font-size: 0.75rem;
      color: var(--color3);
	}

	.submit_email {    /*-----Кнопка рассылки -----*/
	   width: 100%; 
		height: 48px;
		background-color: var(--color1) ;
		font-family: OpenSans_Bold ;
		font-weight: bold;
		font-style: normal;
		font-size: 0.875rem;
		color: white;
		text-transform: uppercase;
		text-align: center;
		border: none;
	}

	.submit_email:hover {
		cursor: pointer;
	}

	.tags {                     /* ////////////////ФОРМА ТЕГИ///////////////////  */
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.tags__list {             /*-----Теги список -----*/
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
	}

	.tags__item {           /*-----Теги эллементы списка -----*/
		margin-right: 10px;
		margin-bottom: 23px;
	}

	.topics {           /* ////////////////ФОРМА ТЕМЫ///////////////////  */
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
	}

	.topics_menu {     /*----Стилизация списка Темы -----*/
		list-style-type: none;

	}

	.topics_item:after { /*-----Линия подчеркивания под темами -----*/
	   content: "";
	   display: block;
	   width: 100%;
	   height: 1px;
	   background-color: #eeeeee;
	   margin-top: 13px;
	}


	.index {         /*-----Кол-во записей по темам -----*/
		vertical-align: super;
		font-size: 8px;
	   font-family: OpenSans_Regular;
	   color: var(--color1);
	   margin-left: 5px;
	   text-decoration: none;
	}

	/* //////////////////////////////////////////////ЗАКРЫТИЕ ПРАВОЙ КОЛОНКИ MAIN ///////////////////////////////////////////// /*

	                                          /* ////////////////ФОРМА МАГАЗИН///////////////////  */

	.shop__card {    /*-----Контейнер карточки товара -----*/
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
 
	.shop_img {      /*-----Изображение товара-----*/
		min-width: 292px;
		height: auto;
	}

	.shop__card__title {  /*-----Наименование товара-----*/
		margin-top: 12px;
		font-family: OpenSans_Bold ;
		font-style: normal;
		font-weight: bold;
		color: var(--color4);
		text-transform: uppercase;
		text-align: left;
		}

	.shop__card__text {   /*-----Описание товара-----*/
		font-family: OpenSans_Regular ;
		font-style: normal;
		font-size: 0.937rem;
		font-weight: normal;
		line-height: 22px;
		color: var(--color4);
		text-align: left;
		}

	.shop__card__footer {   /*-----Контейнер с подвалом товара-----*/
		margin-top: 20px;
		flex-basis: 100%;
		display: flex;
		justify-content: space-between;
	}

	.price {           /*-----Контейнер с ценами на товар старая/новая-----*/
		display: flex;
		flex-direction: column;
	}

	.old__price {       /*-----Старая цена товара перечеркнутая-----*/
		font-family: OpenSans_Regular;
		font-style: normal;
		font-weight: normal;
		font-size: 0.93rem;
		text-transform: uppercase;
		text-decoration: line-through;
		text-decoration-color: var(--color3);
	}

	.new__price {    /*-----Новаая цена товара -----*/
		font-family: OpenSans_Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 1.25rem;
		text-transform: uppercase;
		color: var(--color4);
	}

	.submit_buy {     /*-----Кнопка купить-----*/
		flex-basis: 50%;
		height: 48px;
		font-family: OpenSans_Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 0.875rem;
		text-transform: uppercase;
		color: var(--color6) ;
		background-color: var(--color1);
		border: none;
	}

	.submit_buy:hover {
		cursor: pointer;
	}
	
/*  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

                                                      /*///////ФУТЕР//////// */

	.footer {              /*-----Футер контейнер-----*/
		margin-top: var(--margin6);
		flex-basis: 100%;
		margin-left: var(--margin-left-mobile) ;
		margin-right: var(--margin-right-mobile);
	}

	.footer__link {     /*-----Контейнер с социальными ссылками-----*/
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 83px;
		background-color: var(--color5);
	} 

	.link__social {    /*-----Форма картинки через бэкграунд-----*/
		display: flex;
		gap: 20px;
		list-style-type: none;
	}

	.dribbble {              /*-----Иконка 1-----*/
		width: 20px;
		height: 20px;
		background-image: url('../images/svg/001-dribbble.svg');
		background-size: 20px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.pinterest {        /*-----Иконка 2-----*/
		width: 20px;
		height: 20px;
		background-image: url('../images/svg/001-pinterest.svg');
		background-size: 20px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.tumblr {           /*-----Иконка 3-----*/
		width: 20px;
		height: 20px;
		background-image: url('../images/svg/003-tumblr.svg');
		background-size: 20px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.footer__text {           /*-----Текст лицензии-----*/
		margin-top: 45px;
		margin-bottom: 45px;
		font-family: OpenSans_Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 0.75rem;
		color: var(--color3);
		text-align: center;
	}









